* {
  margin: 0;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* navbar  */
nav {
  background-color: #252525;
  display: flex;
  justify-content: space-around;
  height: 54px;
  border-bottom: 3px solid blue;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 14px;
  padding-left: 0px;
}

nav ul li {
  margin: 0 0px;
}

nav ul li a:is(:link, :active, :visited) {
  text-decoration: none;
  color: white;
  padding-left: 16px;
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 20px;
}

/* nav ul li a:hover {
  color: rgb(255, 255, 255);
  font-weight: 500;
  background: blue;
} */

/* active page */
a:is(:link, :active, :visited).active {
  color: white;
  background-color: blue;
  font-weight: 600;
}
/* Style dasar untuk dropdown */
/* button */
.user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  justify-content: space-around;
  margin-top: 0px;
}

/* content */
.sub-menu-warp {
  position: absolute;
  top: 80%;
  right: 10%;
  width: 300px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s;
}
.sub-menu-warp.open-menu {
  max-height: 400px;
}

.sub-menu {
  background: #252525;
  padding: 20px;
  margin: 10px;
}
.user-info {
  display: flex;
  align-items: center;
}
.user-info h2 {
  color: #fff;
  font-weight: 500;
}
.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ffffff;
  margin: 10px 0 15px;
}
.sub-menu-link {
  display: flex;
  color: #ffffff;
  /* align-items: center; */
  text-decoration: none;
  margin: 12px 0;
}
.sub-menu-link p {
  width: 100%;
}
.sub-menu-link i {
  background: #575757;
  border-radius: 50%;
  padding: 10px 10px 10px;
  margin-right: 15px;
}
.sub-menu-link:hover i {
  background: gray;
}
.sub-menu-link span {
  font-size: 22px;
  transition: transform 0, 9s;
}
.sub-menu-link:hover span {
  transform: translateX(5px);
}
.sub-menu-link:hover p {
  font-weight: 600;
}

/* Hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  margin-left: 1%;
  margin-top: 0px;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 25px;
  left: -10px;
  top: -6px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: aquamarine;
  border-radius: 3px;
  transition: all 1s;
}

/* Humbuger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -4px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(2px, 1px);
  background-color: white;
}

/* slideshow */
.slide {
  overflow: hidden;
  width: 50%;
  z-index: -1;
}
.slide img {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
}

.slidershow {
  width: auto;
  height: auto;
  overflow: hidden;
  float: left;
  display: flex;
}
.middle {
  width: 100%;
  position: absolute;
  top: 58px;
  transform: translate(0%, 0%);
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50px;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #000000;
  margin: 6px;
  cursor: pointer;
}
item
.hero-container {
  height: 100%;
  position: absolute;
  padding: 20px;
  margin-top: 55px;
  padding: 1rem;
}

.hero-img-kiri {
  object-fit: cover;
  height: 100%;
  width: 394px;
}

.hero-image {
  width: 200px;
  padding: 10px;
  height: 50%;
  box-shadow: 0 1px 4px gray;
}

p {
  margin-bottom: 5px;
}

.hero-description {
  display: relative;
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info {
  margin-bottom: 5px;
}
.info-des {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: small;
}
.row {
  min-height: 100;
  display: flex;
}
/* Media query untuk tampilan layar kecil */
@media (max-width: 1114px) {
  .hero-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-image {
    max-width: 100%;
    /* max-height: 100%; */
    margin-bottom: 0px;
  }
  .info-des-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hero-description {
    width: 100%;
    font-size: small;
    text-align: start;
  }
  .hero-description h1 {
    font-size: larger;
    font-weight: 600;
  }
  .hero-img-kiri {
  height: 100%;
  gap: 0px;
}
}

/* .flex-box {
  width: 150px;
  height: 150px;
  margin-top: auto;
  background: gray;
  color: aliceblue;
  font-size: 25px;
  text-align: center;
  line-height: 200px;
  border-radius: 20px;
  margin: 10px;
} */
.flex-box img {
  width: 100%;
  height: auto;
}
.kotak {
  display: none;
  width: 50px;
  height: auto;
}

.gambar-kiri {
  max-width: 700px;
}

.isi-kanan {
  max-width: 300px;
}

.isi-kanan {
  font-size: 10px;
}

.flex-box span {
  width: 30px;
  height: 2px;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap");

/* ukuran tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
  .dropdown {
    display: none;
  }
}
/* ukuran penyesuaian */
@media screen and (max-width: 695px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    left: -70px;
    top: 0;
    width: 80%;
    height: 100vh;
    flex-direction: column;
    margin-left: 10%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #252525;
    z-index: -1;
    transform: translateX(-500px);
    transition: all 1s;
  }
  nav ul li a:hover {
    background: blue;
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 20px;
  }
  a:is(:link, :active, :visited).active {
    color: white;
    background-color: blue;
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 20px;
    font-weight: 600;
  }
  nav ul.slide {
    transform: translateX(0);
  }
}
/* ukuran mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  a:is(:link, :active, :visited).active {
    background: blue;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  nav ul li a:hover {
    background: blue;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  nav ul.slide {
    transform: translateX(0);
  }
}
/* ukuran laptop opsional */
@media screen and (max-width: 1500px) {
  .dropdown-content {
    display: none;
  }
  .box {
    margin-right: 9px;
    margin-left: 9px;
  }
  .menu-toggle {
    margin-left: 15px;
  }
}

/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */
/* search */
.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
  --timing: 0.2s;
  --width-of-input: 250px;
  --height-of-input: 53px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 35px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  max-height: 80%;
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 1;
  margin-top: 0px;
  cursor: pointer;
  /* visibility: hidden; */
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: -5px;
  cursor: pointer;
}
/* testing */
@media screen and (max-width: 750px) {
  .bod {
    max-width: 100%;
    text-align: left;
    background: gray;
    margin-top: 7px;
    padding-top: 15px;
    white-space: normal;
  }

  .bod img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0px;
  }
  .box1 p {
    /* width: 100%; */
    font-size: smaller;
    padding-left: 10px;
  }
  .box1 h2 {
    padding-left: 10px;
    font-size: larger;
    font-weight: 600;
  }
}
.bod {
  padding-left: 10px;
  background: gray;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  margin-top: 7px;
  padding-top: 15px;
  justify-content: center;
  align-items: center;    
  max-width: 100%;
  white-space: normal;
}
.bod img {
  width: 150px;
  max-width: 100%;
}
.box1 {
  padding-bottom: 20px;
  display: flex;
  color: #fff;
  /* align-items: center; */
}
.box1 h2{
  font-size: larger;
  font-weight: 600;
  max-width: 100%;
  margin: 10px 0;
}
.box1 p {
  width: 100%;
  font-size: small;
  margin-bottom: 3px;
}
.box2 {
  padding-left: 10px;
}
.current {
  display: flex;
  margin-top: 60px;
  width: 100%;
  height: 6vh;
  /* justify-content: center; */
  background: blue;
}
.p-info a {
  text-decoration: none;
  color: white;
}
.p-info:hover a {
  text-decoration: none;
  color: orange;
}
.p-info {
  color: white;

  padding-left: 6px;
  padding-top: 8px;
}
.footer-head {
  display: flex;
  border-top: 3px solid blue;
  justify-content: center;
  margin-top: 5px;
  padding: 10px 10px 10px;
  background: #8b8ba7;
}
.head-p {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}
.prev-page a:hover {
  color: blue;
  background: gray;
}
.next-page a:hover {
  color: blue;
  background: gray;
}
.prev-page:hover {
  color: blue;
  background: gray;
}
.next-page:hover {
  color: blue;
  background: gray;
}
.prev-page {
  background: #2f2ee9;
  padding: 3px 3px 3px;
}
.prev-page a {
  text-decoration: none;
  color: black;
  background: #2f2ee9;
  padding: 3px 3px 3px;
}
.next-page {
  background: #2f2ee9;
  padding: 3px 3px 3px;
}
.next-page a {
  text-decoration: none;
  color: black;
  background: #2f2ee9;
  padding: 3px 3px 3px;
}