body,
ul {
  margin: auto;
  padding: 0%;
}

nav {
  background-color: rgb(166, 169, 168);
  display: flex;
  height: 50px;
}

.text {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  margin-inline-start: initial;
  text-size-adjust: 50%;
}
/* .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    margin-inline-end: initial;
} */

li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: black;
  text-align: left;
}
a:hover {
  color: rgb(75, 73, 73);
}

.logo {
  list-style-type: none;
  justify-content: right;
  margin-inline-end: 30%;
}
.logo img {
  width: 39px;
  border-radius: 50%;
  height: auto;
  margin: 0px;
  left: 0px;
  right: 50px;
}

/* Style dasar untuk dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Tombol dropdown */
.dropdown-button {
  background-color: #33688c;
  color: #fff;
  padding: 10px 10px 19px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flexbox;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* search */

.box {
  background-color: rgb(255, 255, 255);
  height: 20px;
  width: auto;
  display: flex;
  cursor: pointer;
  padding: 14px 30px;
  border-radius: 50px;
}

.box input {
  border: none;
  outline: none;
  background: none;
  width: 100px;
}

.box a {
  color: black;
}

.box i {
  height: 100px;
  width: 15px;
  border-radius: 20 px;
  padding: 3px 5px;
}

/* slideshow */
.slide {
  overflow: hidden;
}
.slide img {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  left: 0;
}

.slidershow {
  width: auto;
  height: auto;
  overflow: hidden;
  float: left;
}

.middle {
  position: absolute;
  top: 58px;
  transform: translate(0%, 0%);
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50px;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #000000;
  margin: 6px;
  cursor: pointer;
}
